body {
  margin: 0;
   width:100vw;
height: 100vh;
  max-width: 420px;
  max-height: 800px;
}

.container{
 display: flex;
    /* background-color:red; */

  background-position: 0% 195%;
  background-size: cover;
    background-repeat: no-repeat;
width:100vw;
height: 100vh;
}
.dropZone{
  position: absolute;
  bottom:0px;
  width:100%;
  height: 150px;
  /* border:  1px solid black; */
  background-color: blueviolet;
  z-index: 1;
}

.fileSelect{
  position: absolute;

  bottom:150px;

  background-color: blue;
    width:100%;
  height:50px;
  /* border:  1px solid black; */
  /* background: transparent; */
  z-index: 1;
}

.monsterBox{
  display: grid;
  grid-template-rows: 4fr  1fr;
  grid-template-areas: 
  "monster"
  "box"
  ;
  width:100%;
height: 300px;
}
.monsterImg{
  position: relative;
  /* margin-top: 10px; */
  width: 100%;
height:120px;
flex-grow: 1;
    z-index:3;
  align-self: flex-end;
  bottom:-40px;
}
.monsterImg2{
  position: fixed;
  /* margin-top: 10px; */
  width: 100%;
height:100%;
/* flex-grow: 1; */
    z-index:1;
  /* align-self: flex-end; */
}
.monster{
  position: fixed;
  /* background-image: url("/MonsterHandsDown.png"); */
  background-position: center;
  background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width:100%;
}
.fileUpload{
  grid-area: box;
  text-align: center;
width:100%;
  height: 25%;
  /* background-color: red; */
}

.slider{
  background-position: center;
  background-size: cover;
    background-repeat: no-repeat;
   flex-grow: 1;
    display: flex;
  width:100vw;
height: 100%;
min-height: 400px;
max-height: 480px;
  /* background-color: red; */
  
}
.div2{
   background-image: url("/HandsDown.png");
   /* flex-direction: column; */
    align-items: center ;
    /* align-content: center ; */
    /* justify-content: center; */
  background-position: center;
  background-size: cover;
    background-repeat: no-repeat;
  /* flex-grow: 1; */
    display: flex;
  width:100vw;
  /* height: 100%; */
  min-height: 550px;
z-index: 1;
/* background-color: red; */
}

