
.Container {
    margin:0;
    display: flex;
    align-items: stretch;
}
.ContainerHorizontal {
    composes: Container;
    flex-flow: row nowrap;
}
.ContainerVertical {
    composes: Container;
    height: 100%;
    /* background-color: red; */
    /* flex-flow: column nowrap; */
}
.ResizeContent {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
}
.ResizeContentVertical {
    flex-flow: column;
}
.ResizeContentHorizontal {
    flex-flow: row;
}

.ResizeBarHorizontal {
    cursor: ew-resize;
    width: 20px;
    margin-left: -10px;
    margin-right: -10px;
    background: transparent;
    display: flex;
    z-index: 10;
    align-items: center ;
    align-content: center ;
    justify-content: center;

}

.slideImg{
    height: 100%;
    width: 100%;
    /* background-color:red; */
z-index:2;
  /* align-self: flex-start; */

/* margin-bottom: 30px */
}

.ResizeBarVertical {
    /* border:1px solid black; */
    cursor: ns-resize;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    /* overflow: hidden; */
    z-index: 10;
    justify-content: flex-end;
    background-position:center;
  background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('/slide.png'); */
    background:transparent;


}
.ResizeHandleHorizontal {
    cursor: ew-resize;
    width: 12px;
    height: 50px;
    background : blue;
    border: 2px solid lightgray;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    overflow: hidden;
    display: flex;
    align-items: center ;

}

.ResizeHandleVertical {
    
    width:50px;
    height: 52px;
    background-color: blue;
    z-index: -10;
    overflow: hidden;
    display: flex;
    justify-content: center;
   
    background-image: url('/slideUp.png')

}

.ResizeHandleHorizontal>span, .ResizeHandleVertical>span {
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    /* color: #b3b3b3; */
    text-shadow: 1px 0 1px rgb(90, 90, 90);
    visibility: hidden;
    
}
.ResizeHandleHorizontal>span {
    line-height: 4px;
}
.ResizeHandleVertical>span {
    background: transparent;
    text-align: center;
    line-height: 12px;
    margin-top: -3px;
}
.ResizeHandleHorizontal>span::after{
    content: '. . . . . . . .';
}
.ResizeHandleVertical>span::after{
    content: '......';
}